@model Bookstore.Client.Models.BookViewModel

@{
    ViewData["Title"] = "Create book";
    var message = ViewBag.Message ?? "";
}
<div class="create">
    <h4>Add a new book</h4>
    @await Html.PartialAsync("_Form")
</div>
<div class="result">
    <h4>@message</h4>
</div>