@model Bookstore.Client.Models.BookViewModel

@{
    ViewData["Title"] = "Create book";
}
<br />
@if (ViewData["message"] != null)
{
    <p class="message">@ViewData["message"]</p>
}
<div class="create"">
    <h4>Add a new book</h4>
    @await Html.PartialAsync("_Form")
     <a href="@Url.Action("index")" class="action">Back to index</a>
</div>
