@{
    ViewData["Title"] = "Home Page";
}

<div class="books"">
    <h4>List of available books</h4>
    @* <table>
        <tr>
            <th>Book Title</th>
            <th>Author</th>
            <th>Price</th>
        </tr>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Price</td>
            </tr>
        } *@
    </table>
</div>
