@model IEnumerable<BookViewModel>

@{
    ViewData["Title"] = "Home Page";
    var message = ViewBag.Message ?? ""; 
}

<div class="filter">
    <div class="filter-item">
        <label for="title">Title</label>
        <input type="text" name="title-filter" id="title-filter" class="form-control" />
    </div>
    <div class="filter-item">
        <label for="author">Author</label>
        <input type="text" name="author-filter" id="author-filter" class="form-control" />
    </div>
    <div class="filter-item">
        <label for="description">Description</label>
        <input type="text" name="description-filter" id="description-filter" class="form-control" />
    </div>
    <div class="filter-item">
        <a id="sarwan" href="@Url.Action("filter")" onclick="return elasticSearch(this);">Filter</a>
    </div>
</div>
<div class="books">
    <p class="message">@message</p>
    <h4>List of available books</h4>
     
    @await Html.PartialAsync("_Books", Model)
    
    <div class="create-book">
        <a href="@Url.Action("create","home")">Create book</a>
    </div>
</div>
