html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.books{
  margin-left: 10px;
}

.books table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 80%;
    font-size: 14px;
}
.books .create-book{
    margin-top:10px;
}