html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.books{
  margin-left: 10px;
}

.books table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 80%;
    font-size: 14px;
}
.create{
    margin-top:1px;
    margin-left:10px;
}

.table-create {
    font-size: 14px;
}

.table-create input {
font-size: 14px;
width: 50%;
display: inline;
    margin-bottom: 5px;
}

.table-create tr {
}

.table-create th {
    width: 8%;
    height: 0px;
}
.table-create span{
    color: red;
}
form button {
    margin-top: 5px;
    border: none;
    padding: 4px 12px 6px 12px;
    background-color: rgb(37, 113, 212);
    color: #efeded;
    border-radius: 3px;
    margin-bottom: 15px;
}

form button:hover {
    background-color: rgb(34, 105, 198);
    color: #efeded;
}