html {
    position: relative;
    min-height: 100%;
}
.body {
    margin-left: 0px;
}
.create, .books {
    margin-left: 10px;
}

.validation-summary-errors li{
    color:red;
    font-size:14px;
}
.field-validation-error{
    color:red;
    display:block;
}
.create > form {
    width: 70%;
    text-align: left;
    padding: 5px 0px 20px 0px;
    float: left;
    display: inline;
    border: 1px solid red;
}
form button {
    border: none;
    padding: 5px;
    background-color: rgb(37, 113, 212);
    color: #efeded;
    border-radius: 3px;
}
form button:hover {
    background-color: rgb(34, 105, 198);
    color: #efeded;
}
form .table-create {
    font-size:14px;
    margin-bottom:10px;
}
form .table-create input {
    font-size: 14px;
    width: 55%;
    display:inline;
}
form .table-create input[type=checkbox]{
    display:inline;
    width:15px;
    height:15px;
}
.table-create span {
    font-size: 14px;
    margin-left: 0px;
    display: inline;
    text-align: left;
}
form .table-create tr {

}
form .table-create th {
    width:10%;
    height:5px;
}
.table-index {
    border-collapse:collapse;
    width: 90%;
    font-size:14px;
}
.table-index th, td {
    padding: 6px;
    text-align: left;
}
.table-index td:last-child{
    text-align:right;
    padding-right:0;
}
    .table-index th:last-child{
        text-align:center;
    }
    .table-index td a {
        text-decoration: none;
        padding: 6.5px 8px 6.5px 8px;
        background-color: rgb(37, 113, 212);
        color: #efeded;
        margin-right: 0.8px;
    }
    .table-index td a:hover {
        background-color: white;
        color: black;
    }
.table-index th {
    background-color: #e3e3e3;
}
.table-index tr:hover {
    background-color: #ddd;
    transition: 0.1s;
}
.action {
    clear: both;
    text-decoration: none;
    font-size: 16px;
}
.message{
    color:red;
    font-size:16px;
    font-weight:bold;
    font-family:sans-serif;
}
.errors{
    float: left;
    border: 1px solid red;
    width: 30%;
}