@using Newtonsoft.Json.Linq

@model Bookstore.Client.Models.BookViewModel


<tr>
    <th>Cover image</th>
    <td>
        <input type="file" name="coverImage" />
    </td>
</tr>
<tr>
    <th>Book upload</th>
    <td>
        <input type="file" name="bookFile" />
    </td>
</tr>