@using Newtonsoft.Json.Linq

@model Bookstore.Client.Models.BookViewModel


<tr>
    <th>Cover image</th>
    <td>
        <input asp-for="@Model.File.CoverImageFile" type="file" />
    </td>
</tr>
<tr>
    <th>Book upload</th>
    <td>
        <input asp-for="@Model.File.BookFile" type="file" />
    </td>
</tr>