@using Newtonsoft.Json.Linq

@model Bookstore.Client.Models.BookViewModel


<tr>
    <th>Cover image</th>
    <td>
        <input asp-for="@Model.Files.CoverImageFile" type="file" />
    </td>
</tr>
<tr>
    <th>Book file</th>
    <td>
        <input asp-for="@Model.Files.BookFile" type="file" />
    </td>
</tr>